body {
    font-family: Arial, sans-serif;
    background-color:#bbe7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:#fdfcfc;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 7px;
    text-align: center;
    width: 600px;
}

p{
    color: rgb(58, 56, 56);
}

h1{
   margin: 40px;
   font-weight: bold;
   font-size: 35px;
}
button{
    background-color: rgb(65, 127, 241);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}
input{
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 3px solid rgb(87, 85, 85);
}
h6{
    margin-top: 25px;
    font-size: x-small;
}

button:hover{
    background-color: rgb(112, 171, 240);
}